// -var path = 'https://github.com/ortegon000/dcsol/blob/master/img/portfolio/app-images/'
// -var path = '/img/portfolio/app-images/'
mixin galleryItem(imageName, dataSubHTML)
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.gallery-item-portfolio
        //a.item(href=path+imageName, data-sub-html=dataSubHTML)
        //    img(src=path+imageName, width="100%", style='margin-bottom: 15px')
        a.item.item-gallery-link(href=path + imageName, data-sub-html=dataSubHTML)
            img.item-gallery-image(src=path + imageName, width="100%", alt=dataSubHTML, title=dataSubHTML)
            .overlay
                i.fa.fa-search.icon-search
