-var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/'
//-var path = '/img/portfolio/'
mixin targetToCollapse(href, collapseName, imageName, collapseDescription)
    .col-sm-12.col-lg-4
        .card-body.examples-cards
            .portfolio-item
                a.portfolio-link(
                data-toggle='collapse',
                data-parent='#tablesGroup',
                data-target=href,
                href=href,
                role='button',
                aria-expanded='false',
                aria-controls='collapseExample'
                style='height: 150px')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-search.fa-3x
                    //img.img-fluid.w-100(src=imgPath + imageName, alt=name)
                    img.img-fluid.w-100.h-100(src=path + imageName, alt=name)
                .portfolio-caption
                    h4.text-primary #{collapseName}
                    p.text-muted #{collapseDescription}
