
-var path = '/img/time-line-services/'
//- About
section#timeline
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.text-primary.quickSand-title Desarrollo de software
                h3.section-subheading.text-muted
        .row
            .col-lg-12
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src=path + 'check-list.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 2009-2011
                                h4.subheading Análisis
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | Definimos claramente el problema que se desea resolver o el sistema que se desea crear.
                                    br
                                    strong Identificamos los componentes principales
                                    |  que integrarán el producto.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-info(src=path + 'architecture.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 March 2011
                                h4.subheading Diseño y arquitectura
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | Utilizamos la información recolectada en la etapa de análisis al diseño del proyecto. La tarea principal es
                                    strong  desarrollar un modelo
                                    | ,
                                    strong  especificaciones
                                    |  para el producto o
                                    strong  Componentes del sistema.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-warning(src=path + 'code.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 December 2012
                                h4.subheading Desarrollo
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | Utilizamos los modelos desarrollados durante la etapa de diseño para crear los componentes del sistema.
                    li.timeline-inverted
                        .timeline-image.bg-danger
                            img.rounded-circle.img-fluid(src=path + 'tests.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Pruebas y Verificación
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | Nos aseguramos de que los componentes que integran al sistema o producto, cumplan con los requerimientos de la especificación creada durante la etapa de diseño.
                    li
                        .timeline-image.bg-danger
                            img.rounded-circle.img-fluid(src=path + 'rocket.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Implementación
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | La etapa de implementación ó entrega consiste en poner a disposición del cliente el producto.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-white(src=path + 'sound.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Mantenimiento
                            .timeline-body
                                p.text-muted.quickSand-description
                                    | Esta etapa se encarga de mejorar y/o añadir caracteristicas al producto y re-liberar como una nueva versión o revisión.
                    li.timeline-inverted
                        .timeline-image.bg-dark
                            h4.quickSand-description
                                | Disfruta
                                br
                                | Tu
                                br
                                | Aplicación !
